body{
    background-image: url(./background.jpeg);
    background-size: cover;
   
 } 
 nav#menu {
    display: block;
 }

 nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
    position:absolute;
    top: -20px;
    left: 600px;
   }

   nav#menu li{
    display: inline-block;
    background-color: none;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
   }

   nav#menu li:hover{
    background-color: #cdaa93;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
    
}
